/Users/alexey/project/udemy/katz/.vagrant/*
/Users/alexey/project/udemy/.DS_Store
/Users/alexey/project/udemy/katz/.vagrant/
/Users/alexey/project/udemy/katz/express/node_modules/
/Users/alexey/project/udemy/katz/express/node_modules/*
/Users/alexey/work/monitoring/.DS_Store
