nginx/single/.DS_Store
nginx/single/.vagrant/*
nginx/single/Vagrantfile
nginx/single/*
.DS_Store
.DS_Store
/Users/alexey/learn/udemy/ansible/mastering_ansible/.vagrant
ansible/mastering_ansible/.vagrant/machines/control/virtualbox/vagrant_cwd
ansible/mastering_ansible/.vagrant/rgloader/loader.rb
ansible/mastering_ansible/.vagrant/
ansible/mastering_ansible/.vagrant/*
ansible/mastering_ansible/control.pub
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
redis/.vagrant/
.DS_Store
docker/docker_from_A_Z/.vagrant/
python/python_bootcamp/venv/
elk7/.vagrant
python/python_bootcamp/.idea/
.DS_Store
.DS_Store
