/Users/alexey/project/udemy/katz/.vagrant/*
/Users/alexey/project/udemy/.DS_Store
/Users/alexey/project/udemy/katz/.vagrant/
/Users/alexey/project/udemy/katz/express/node_modules/
/Users/alexey/project/udemy/katz/express/node_modules/*
/Users/alexey/work/monitoring/.DS_Store
/Users/alexey/learn/udemy/template/multi/.vagrant/*
/Users/alexey/project/udemy/katz/.vagrant/*
/Users/alexey/project/udemy/.DS_Store
/Users/alexey/project/udemy/katz/.vagrant/
/Users/alexey/project/udemy/katz/express/node_modules/
/Users/alexey/project/udemy/katz/express/node_modules/*
/Users/alexey/work/monitoring/.DS_Store
/Users/alexey/learn/udemy/template/multi/.vagrant/*
/Users/alexey/learn/udemy/mastering_ansible/vm_labs/*
/Users/alexey/learn/udemy/mastering_ansible/vm_labs/
/Users/alexey/learn/udemy/mastering_ansible/vm_labs
mastering_ansible/vm_labs/ubuntu3/ubuntu3.vdi
mastering_ansible/vm_labs/ubuntu3/ubuntu3.vbox
mastering_ansible/vm_labs/*
mastering_ansible/vm_labs/ubuntu3/.DS_Store
mastering_ansible/centos1/centos1.vdi
mastering_ansible/centos1/centos1.vbox
mastering_ansible/centos1/.DS_Store
mastering_ansible/.DS_Store
mastering_ansible/vm_labs
/Users/alexey/learn/udemy/mastering_ansible/vm_labs
mastering_ansible/vm_labs/
/Users/alexey/learn/udemy/mastering_ansible/vm_labs/
mastering_ansible/vm_labs/*
/Users/alexey/learn/udemy/mastering_ansible/vm_labs/*

